{% extends 'base/base.html' %}
{% block title %}Edit Drop{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <strong>Edit Drop</strong>
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            
            <div class="form-group">
                <label>Name</label>
                {{ form.name }}
                {{ form.name.errors }}
            </div>

            <button type="submit" class="btn btn-success btn-block">Update Drop</button>
        </form>
    </div>
</div>
{% endblock %}
